/* One Dark Pro theme */

* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 16px;
  color: #abb2bf;
  background: transparent;
  border: none;
  padding: 2px 4px;
  margin: 0 1px;
}

#workspaces button {
  padding: 1px;
}

#workspaces,
#clock,
#tray,
#window,
#custom-notifications {
  background-color: #282c34;
  border-radius: 12px;
  border: 2px solid #abb2bf;
}

tooltip,
.menu,
.popup,
.context-menu {
  background-color: #282c34;
  border: 2px solid #abb2bf;
}

.popup :hover {
  background-color: #3e4451;
}

#pulseaudio {
  background-color: #282c34;
  border-radius: 12px 0 0 12px;
  margin-right: -2px;
  border-top: 2px solid #abb2bf;
  border-bottom: 2px solid #abb2bf;
  border-left: 2px solid #abb2bf;
  padding-left: 10px;
  padding: 0 10px 0 10px;
}

#backlight,
#battery {
  background-color: #282c34;
  margin-right: -1px;
  margin-left: -1px;
  border-top: 2px solid #abb2bf;
  border-bottom: 2px solid #abb2bf;
  padding: 0 10px 0 10px;
}

#network {
  background-color: #282c34;
  border-radius: 0 12px 12px 0;
  margin-left: -2px;
  border-top: 2px solid #abb2bf;
  border-bottom: 2px solid #abb2bf;
  border-right: 2px solid #abb2bf;
  padding: 0 16px 0 10px;
}

#battery.charging {
  background-color: #98c379;
  color: #282c34;
}

#custom-lock {
  background-color: #282c34;
  color: #e06c75;
  border-radius: 12px;
  border: 2px solid #e06c75;
  padding-right: 16px;
  padding-left: 12px;
  font-weight: bold;
}

#custom-notifications {
  padding-right: 8px;
  padding-left: 12px;
}
