Config(
    ignored: [
        ".git",
        "node_modules",
        ".cache",
        ".local/share/Trash",
        "target",
        "__pycache__",
        ".nix-defexpr",
        ".nix-profile",
    ],
    directories: [
        (
            path: "~",
            recurse: true,
            ignored: [
                ".steam",
                ".local/share/Steam",
                "Games",
            ],
        ),
        (
            path: "~/dotfiles",
            recurse: true,
            ignored: [],
        ),
    ],
)
