* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10pt;
    font-weight: 900;
    border: none;
    min-height: 0;
    margin: 0.1em 0 0.1em 0;
}

#waybar {
    background-color: #1d2021;
    color: #ebdbb2;
}

window#waybar.hidden {
    opacity: 0.2;
}

#tags button {
    color: #928374;
}

#tags button.focused {
    color: #ebdbb2;
}

#tags button.urgent {
    background-color: #eb4d4b;
}

/* Each module */
#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#network,
#wireplumber,
#tray,
#mode,
#mpd,
#bluetooth {
    padding: 0px 15px;
    border-radius: 20px;
}

#window,
#tags {
    border-radius: 20px;
    padding: 0px 10px;
}

#custom-power-menu {
    border-radius: 9.5px;
    background-color: #1b242b;
    border-radius: 7.5px;
    padding: 0 0px;
}

#battery.charging,
#battery.full,
#battery.plugged {
    color: #26a65b;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#disk {
    background-color: #964b00;
}

#bluetooth {
    color: #707d9d;
}

#bluetooth.disconnected {
    color: #f53c3c;
}

#network {
    color: #b48ead;
}

#network.disconnected {
    color: #f53c3c;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}